#signup {
  position: relative;
  .signup-content {
      padding-top: 70px;
    }
  
    h1,
    h5 {
      color: white;
    }
  
    form {
      max-width: 400px;
    }
  
    .login-btn {
      background-color: #286090;
      max-height: 35px;
    }
  
    .signup-text {
      color: #8899a6;
    }
  
    .signup-btn {
      background-image: linear-graident(#ffcc4d,
          #ffac33);
      font-weight: 500;
    }
}