.container-fluid {
  max-width: 1200px;
}

nav {
  background-color: white;
  border-bottom: 2px solid lightgray;

  .brand {
    color: rgb(38, 167, 222)
  }

  .dropdown-toggle {
    min-width: 175px;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }
}
  