.user-tag {
  background-color: white;
  border-radius: 10px;
}

.home {
  a {
    color: inherit;
    text-decoration: none;
  }
  a h5:hover {
    text-decoration: underline;
  }

  h5 {
    margin: 0;
  }
}